html {
  margin: 0%;
  background-color: black;
}

body.accountpage {
  margin: 0%;
  background-color: black;
  background-size: 20% auto;
  background-position: 90% 40%;
  background-repeat: no-repeat; 
}

body.blogpage {
  margin: 0%;
  background-color: black;
  background-size: 20% auto;
  background-position: 90% 40%;
  background-repeat: no-repeat; 
}

body.startgame {
  margin: 0%;
  width: 100%;
  height: 100vh;
  position: fixed;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

body.homepage {
  margin: 0%;
  padding: 0%;
  width: auto;
  height: 100%;
  --Franky: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  z-index: 0;
}

body.homepage::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('./assets/Images/background/Pokemon Lab.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(4px);
  z-index: -1;
}

body.newspage {
  margin: 0%;
  background-color: black;
  background-size: 20% auto;
  background-position: 90% 40%;
  background-repeat: no-repeat; 
}


#root {
  justify-items: center;
  margin: 0%;
  padding: 0%;
  height: 100%;
}

header.head-nav {
  width: 90%;
  margin: 2%; 
}

div.logo {
  background-color: white;
}

nav.internal-nav {
  padding: 2%;
  background-color: rgb(178, 235, 255, 0.7);
  display: flex;
  justify-content: right; 
  gap: 1%;
  font-family: var(--Franky); 
  font-size: 25px;
  color: black;                                                                 /* | Vertical seperators */
  border: 1px solid black;
}

nav.external-nav {
  padding: 2%;
  display: flex;
  justify-content: center; 
  gap: 1%;
  font-family: var(--Franky); 
  font-size: 25px;
  color: black;                                                                 /* | Vertical seperators */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;                                                        /* Center the links horizontally */
  flex-wrap: wrap;                                                                /* Allow wrapping for smaller screens */
}

nav ul li {
  margin: 10px 20px;                                                              /* Space between each link */
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 25px;
}

nav a:hover {
  color: rgb(0, 85, 255);
}

main {
  width: 90%;
  justify-items: center;
}

.rest-tool {
  position: relative;
  display: inline-block;
}

.rest-tool-text {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  padding: 8px 12px;
  border-radius: 15px;
  position: absolute;
  bottom: 80%;
  left: 110%;
  font-family: var(--Franky);
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.rest-tool-text::after {                                                           
  content: "";                                                                     /* This is for the triangle under the bubble */
  position: absolute;
  top: 100%;
  left: 11%; 
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent white;                       /* This makes it point to the right */
}

.rest-tool:hover .rest-tool-text {
  visibility: visible;
  opacity: 1;
}

.pokeball-image {
  width: 30px;
  height: 30px;
}

.pokeball-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;                                                            /* Prevent interaction with underlying elements */
  z-index: 10;                                                                     /* Ensure it's on top */
  overflow: hidden;                                                               
}

h1, h2 {
  color: black;
  text-align: center;
  font-family: var(--Franky);
}

p {
  padding-top: 0%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  margin: 0%;
  color: black;
  font-family: var(--Franky);
  text-align: left;                                                               /* Justified to the left */
}

p.loading-box {
  background-color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.animate-spinner {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

p.loading {
  color: white;
  text-align: center;
  background-color: black;
  box-shadow: none;
}

section.welcome {
  background-color: rgba(255, 255, 255, 0.5);
}

h2.welcome {
  margin: 0%;
  padding: 2%;
  text-align: left;
}

section.options {
  display: flex;              
  justify-content: center;    
  align-items: center;        
  gap: 1%;                  
}

section.options button.signup {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: rgb(0, 85, 255, 0.85);
  color: rgb(255, 255, 255);
  font-size: 95%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
}

section.options button.login {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: rgb(0, 255, 187, 0.85);
  color: rgb(0, 0, 0);
  font-size: 95%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
}

button.signup {
  margin: 2%;
}

button.login {
  margin: 2%
}

section.faq {
  background-color: rgba(255, 255, 255, 0.5);
}

h2.faq {
  margin: 0%;
  padding: 2%;
  text-align: left;
}


table {
  border-collapse: collapse;
}

th {
  border: 1px solid;
  border-color: white;
  padding: 10px;
}

td {
  color: white;
  padding: 8px;
}

.edit-icon {
  cursor: pointer;
  color: rgb(152, 255, 174);
}

.delete-icon {
  cursor: pointer;
  color: rgb(253, 124, 124);
}

.edit-icon:hover {
  color: rgb(0, 255, 55);
}

.delete-icon:hover {
  color:red;
}

tr {
  border-bottom: 1px solid;
  border-bottom-color: white;
}

thead {
  background-color:rgb(0, 255, 187);
}

tr:last-child {
  border-bottom: none; 
}

button {
  background-color: whitesmoke;
  color: black;
  margin-top: 2px;
  margin-bottom: 20px;
  padding: 8px 12px;
  border-radius: 50px;
}

form {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;                                                            /* Centers the form elements */
  max-width: 500px;                                                               
  margin: 0 auto;
}

form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

form input[type="checkbox"] {   
  width: auto;                                                                    /* Ensures checkbox is the same width */                                                            
  margin-left: 20%;                                                               /* Space between label and checkbox */
  margin-right: 23%;
}

form select {   
  color: black;
  width: 55%;                                                                     /* Ensures select is the same width as inputs */
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid;                                                              /* Adds border for consistency */
  border-radius: 5px;                                                             /* Rounded corners */
  border-color: black;
  background-color: white;                                                      /* Background color */
  text-align: center;                                                             /* Centers the text inside the select */
}

form label {
  color: rgb(56, 121, 252);
  width: 60%;                                                                     /* Ensures labels are the same width */
  text-align: right;                                                              /* Aligns label text to the right */
  margin-right: 10px;
}

form input {
  width: 55%;                                                                     /* Ensures inputs are the same width */
  padding: 5px;
  box-sizing: border-box;
}

form button {
  background-color: whitesmoke;
  color: black;
  margin-top: 20px;
  padding: 8px 12px;
  border-radius: 50px;
}

form button:hover {
  background-color: rgb(217, 115, 251);                                           
}

.signup-slide {
  position: fixed;
  top: 10%;
  left: 0;
  width: 300px;
  padding: 1em;
  background: rgb(216, 239, 248);
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  border-radius: 8px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  z-index: 1000;
}

.signup-slide.hidden {
  transform: translateX(-120%);
  opacity: 0;
  pointer-events: none;
}

.signup-slide.visible {
  transform: translateX(0);
  opacity: 1;
}

a {
  text-decoration: none;
  color:rgb(127, 245, 214);
  font-weight: bold;
}

a:hover {
  color:  rgb(0, 85, 255);
}

table {
  margin-left: auto;
  margin-right: auto;
}

footer.foot-nav {
  width: 90%;
  margin: 2%;
  background-color: rgb(178, 235, 255, 0.7);   
  border: 1px solid black;                                                           
}

aside.socials {
  padding-bottom: 2%;
  display: flex;
  justify-content: center; 
  gap: .3%;
  font-family: var(--Franky); 
  font-size: 15px;
  color: black;                                                                 /* | Vertical seperators */
}

aside a {
  text-decoration: none; 
  color: black;
  font-weight: bold;
  transition: color 0.3s ease; 
}

aside a:hover {
  color: rgb(0, 85, 255);
}